/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~@angular/material/theming';
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  padding-bottom: 0.5rem;
}

.mat-app-background {
  height: calc(100% - 48px);
}

.clickable {
  cursor: pointer;
}

.success-dialog {
  background-color: mat-color($mat-pink, A400)
}

.success-dialog {
  .mat-simple-snackbar {
    font-size: large;
    justify-content: center;
  }
}
