/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  padding-bottom: 0.5rem;
}

.mat-app-background {
  min-height: calc(100vh - 48px);
  height: calc(100% - 48px);
}

.clickable {
  cursor: pointer;
}

.success-dialog {
  background-color: mat-color($mat-deep-purple, A400)
}

.success-dialog {
  .mat-simple-snackbar {
    font-size: large;
    justify-content: center;
  }
}

button:focus, span:focus {
  outline: 0 !important;
}

//header
.cdk-overlay-connected-position-bounding-box {
  top: 48px !important;
}

//loader
.mat-progress-bar {
  height: 7px !important;
}
