@import "src/styles.scss";

.row {
  background-color: mat-color($mat-deep-purple, A400);
  color: white;
}

.mat-menu-item .mat-icon {
  vertical-align: baseline !important;
}
.mat-icon {
  height: auto;
  width: auto;
}
